.footer {
    width: 100%;
    position: fixed; 
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #202020, #756e6e);
    color: #fff;
    padding: 100px 0 20px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    margin: auto 0 0 0;
  }
  @media (max-width:600px){
    .footer{
        width: auto;
        margin: auto;
        position: absolute;
    }
  }
  .row1 {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .col1 {
    flex-basis: 25%;
    padding: 10px;
    font-size: 1rem;
  }
  
  .col1:nth-child(2),
  .col1:nth-child(3) {
    flex-basis: 15%;
  }
  
  .logooo {
    width: 120px;
    margin-bottom: 30px;
  }
  
  .col1 h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
  }
  
  .email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
  }
  
  .col1 ul li {
    list-style: none;
    margin-bottom: 12px;
  }
  
  .col1 ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  .col1 form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    margin-bottom: 50px;
  }
  
  .col1 form .far {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .col1 form input {
    width: 100px;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
  }
  
  .col1 form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
  }
  
  .col1 form button .fas {
    font-size: 16px;
    color: #ccc;
  }
  
  .social-icons  {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 40px;
    color: #f7f5f5;
    margin-right: 15px;
    cursor: pointer;
    display: flex;
  }
  
  hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
  }
  
  .footer .copyright {
    text-align: center;
  }
  
  .underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
  }
  
  .underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
  }
  
  @keyframes moving {
    0% {
      left: -20px;
    }
    100% {
      left: 100px;
    }
  }
  
  @media (max-width: 700px) {
    .footer {
      bottom: unset;
    }
    .col1 {
      flex-basis: 100%;
    }
    .col1:nth-child(2),
    .col1:nth-child(3) {
      flex-basis: 100%;
    }
  }
  