.about-us-container {
    display: flex;
    margin-top: 4rem;
    background-color: #fff;
    border-radius: 40px;
    padding: 20px 10px 10px 10px;
    color: #383636;
    animation: slideFromLeft 1.5s ease;
  }
  .about-us-container img{
    height: 50%;
    width: 30%;
  }
  
  .about-us-text {
    flex: -1;
    animation: slideFromLeft 1s ease;
  }
  
  .about-us-description {
    flex: 1;
    animation: slideFromRight 1s ease;
    font-size: 1.5rem;
    text-align: right;
  }
  
  .primary-heading {
    font-size: 4rem;
    margin-top: 20%;
  }
  @media (max-width: 600px){
    .about-us-container{
        display: block;
    }
    .about-us-description{
        text-align: justify;
        font-size: 1rem;
    }
  }
  @keyframes slideFromLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideFromRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  