.home-page-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .home-text-section {
    flex: 1;
  }
  
  .primary-heading {
    font-size: 2rem;
    color: #4c4c4c;
    margin-bottom: 1rem;
    animation-name: slideInLeft;
     animation-duration: 1s;
    animation-delay: 0.5s; 
    animation-fill-mode: both;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
  
  .primary-text {
    font-size: 1.5rem;
    color: #6a6a6a;
    margin-bottom: 1.5rem;
    animation-name: slideInLeft;
     animation-duration: 1s;
    animation-delay: 0.5s; 
     animation-fill-mode: both;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
  
  .secondary-button {
    padding: 1rem 2.5rem;
    background-color: #0f0e0c;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: slideInLeft;
    animation-duration: 2s;
    animation-delay: 0.5s; 
    animation-fill-mode: both;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
  
  .secondary-button svg {
    margin-left: 0.75rem;
    font-size: 1.5rem;
  }
  
  .secondary-button:hover {
    background-color: #201d1775;
  }
  
  .home-image-container {
    width: 400px;
    height: auto;
    border-radius: 35px;
    animation-name: slideInRight;
    animation-duration: 2s;
    animation-delay: 0.5s; 
    animation-fill-mode: both;
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .home-image-container, img{
   object-fit: contain;  
  }
  
  /* Mobile view */
@media (max-width: 768px) {
    .home-page-container {
      flex-direction: column;
      
      padding: 2rem 1rem;
    }
  
    .home-text-section {
      text-align: center;
      align-items: center;
    }
  
    .primary-heading {
      font-size: 1.5rem;
      max-width: 90%;
      margin: 1rem auto;
    }
  
    .primary-text {
      font-size: 1rem;
      max-width: 90%;
      margin: 1rem auto;
      color: black;
    }
  
    .secondary-button {
      padding: 1rem 2rem;
      font-size: 1rem;
      margin-left: 30%;
    
    }
  
    .home-image-container {
      width: 80%;
      max-width: 300px;
      margin: 2rem auto;
      border-radius: 25px;
    }
  }